{% extends "users/admin_dashboard.html" %}
{% load static %}

{% block title %}Смена пароля{% endblock %}

{% block password_change_content %}
<div class="change-password-page">
    <div class="change-password-inner">
        <div class="change-password-title">
            <img src="{% static 'images/user3.png' %}" alt="{{ user.username }}" class="user-avatar">
            <h2>Смена пароля</h2>
        </div>
        <p>
            <img src="/static/images/register.jpg" style="height: 30px;"> Пользователь: <strong>{{ target_user.username }}</strong>
            <strong class="users-role-row">{{ target_user.get_role_display }}</strong>
        </p>
        <p>
            <img src="/static/images/email-logo.jpg" style="height: 25px">Email: {{ target_user.email }}
        </p>
        <hr>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="users-btn-save">Сохранить</button>
            <a href="{% url 'users:users_list' %}" class="users-remove">Отмена</a>
        </form>
    </div>
</div>
{% if messages %}
<div class="users-messages-inform">
    {% for message in messages %}
    <p class="{{ message.tags }}" style="color: white"><img src="{% static 'images/active-status.png' %}"
                     alt="Онлайн" width="23" height="23"> {{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% endblock %}