{% extends "users/support_dashboard.html" %}

{% load static %}
{% block profile_content %}

<div class="users-profile">
    <h2 class="profile-title"><img src="/static/images/profile.jpg" style="height: 50px;"> Профиль</h2>
    <form method="post" enctype="multipart/form-data" class="profile-form">
        {% csrf_token %}
        {% if user.photo.url %}
        <p><img src="{{ user.photo.url}}" width="97%" height="270px"></p>
        {% else %}
        <p><img src="{{ default_image }}"></p>
        {% endif %}
        {{ form.as_p }}
        <button type="submit" class="profile-btn">Сохранить</button>
    </form>
    <p><a href="{% url 'users:password_change' %}" class="profile-password">Сменить пароль</a></p>
</div>

{% endblock %}