{% extends "helpdeskside/base.html" %}

{% load static %}
{% block content %}

<div class="users-profile">
    <h2 class="profile-title">Профиль</h2>
    <form method="post" enctype="multipart/form-data" class="profile-form">
        {% csrf_token %}
        {% if user.photo %}
        <p><img src="{{ user.photo.url}}" style="width: 100%" height="270px"></p>
        {% else %}
        <p><img src="{{ default_image }}"></p>
        {% endif %}
        {{ form.as_p }}
        <button type="submit" class="profile-btn">Сохранить</button>
    </form>
    <p><a href="{% url 'users:password_change' %}" class="profile-password">Сменить пароль</a></p>
</div>

{% endblock %}