{% extends "helpdeskside/base.html" %}

{% load static %}
{% block content %}

<div class="register-page">
    <div class="register-page-inner">
        <h2 class="register-title"><img src="/static/images/register.jpg" style="height: 30px;">Регистрация</h2>
        <form method="post" class="register-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="register-btn">Создать</button>
            <a href="{% url 'users:login' %}" class="register-login-next">Авторизация</a>
        </form>
    </div>
</div>

{% endblock %}